.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    border: 1px solid #777;
    border-radius: 1rem;
    padding: 1rem;
}

.form input {
    margin-bottom: 1rem;
}

.form button[type="submit"] {
    border: none;
    color: white;
    background-color: dodgerblue;
    border-radius: 0.25rem;
}

@media screen and (max-width: 1200px) {
    .form {
        width: 90%;
    }
}